       body {
            margin: 0;
            padding: 0;
            font-family: 'Oswald', sans-serif;
            background-color: #f4f4f4; /* Set your desired background color */
        }

        .container {
            padding: 20px;
            text-align: center;
        }

        h1, h2 {
            font-family: 'Georgia', serif; /* Set your desired font for headings */
            color: #333; /* Set your desired text color */
        }

        a {
            position: fixed;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            background-color: #4CAF50;
            color: white;
            padding: 15px;
            text-decoration: none;
            width: 100%;
            box-sizing: border-box;
        }
